<h1 class="titel">Neues TODO</h1>
<hr>

<form action="/createNote" method='post'>
    <div class="grid-edit-note">
        <label class="input-description grid-element" for="title">Titel</label>
        <input class="grid-element" name='title'  placeholder='Titel der Notitz' required>
        <label class="input-description grid-element" for="description">Beschreibung</label>
        <textarea class="grid-element" name='description' placeholder='Beschreibung' cols="60" required></textarea>
        <label class="input-description grid-element" for="importance">Wichtigkeit</label>
        <input class="grid-element" type="number" name='importance' min="1" max="5" placeholder='Wichtigkeit' required>
        <label class="input-description grid-element" for="until">Fertig bis</label>
        <input class="grid-element" type='date' name='until' required>
    </div>
    <div class="form-holder">
        <input class="button button-edit-note" type='submit' value='Anlegen'>
    </div>
</form>

<form action='/' method='get' class="form-holder">
    <input class="button button-edit-note" type='submit' value='Abbrechen' formnovalidate>
</form>
