<h1 class="titel">Neues TODO</h1>
<hr>

<form action="/createNote" method='post'>
    <div>
        <label class="input-description" for="title">Titel</label>
        <input name='title'  placeholder='Titel der Notitz' required>
    </div>
    <div>
        <label class="input-description" for="description">Beschreibung</label>
        <textarea name='description' placeholder='Beschreibung' cols="60" required></textarea>
    </div>
    <div>
        <label class="input-description" for="importance">Wichtigkeit</label>
        <input type="number" name='importance' min="1" max="5" placeholder='Wichtigkeit' required>
    </div>
    <div>
        <label class="input-description" for="until">Fertig bis</label>
        <input type='date' name='until' required>
    </div>
    <input class="button" type='submit' value='Anlegen'>

    <form action='/' method='get'>
        <input class="button" type='submit' value='Abbrechen' formnovalidate>
    </form>
</form>


