<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Ursin Testat</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="{{session.theme}}">
        <div class="container">
            {{{body}}}
        </div>
    </body>
</html>