.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: lightgrey;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.flex-container-space {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.stars{
    color: darkgoldenrod;
}

.input-description {
    font-weight: bold;
}

input {
    width: 200px;
}

#no-items-div{
    background-color: lightskyblue;
    margin: 10px;
    border: 1px solid darkgray;
    padding: 20px;
    border-radius: 15px;
    color: black;
}

.button {
    padding: 10px;
}