textarea {
    resize: none;
}

.light {
    background-color: white;
    color: black;
}

.light .selected {
    background-color: darkgray;
}

.dark {
    background-color: #151212;
    color: lightgrey;
}

.dark .button {
    background-color: darkblue;
    color: lightgrey;
}

.dark .selected {
    background-color: blue;
}

#no-items-div {
    background-color: lightskyblue;
    margin: 10px;
    border: 1px solid darkgray;
    padding: 20px;
    border-radius: 15px;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.flex-container-space {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.stars {
    color: darkgoldenrod;
}

.input-description {
    font-weight: bold;
}

.button {
    padding: 10px;
    width: auto;
}

.flex-container-edit-note {
    display: flex;
    margin-top: 10px;
}

.flex-container-edit-note-title {
    flex: 1 0;
}

.flex-container-edit-note-content {
    flex: 14 2;
}

.checkbox-flex {
    flex: 0;
    float: left;
}